/* sintony-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/sintony-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('./assets/fonts/sintony-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/fonts/sintony-v15-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('./assets/fonts/sintony-v15-latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('./assets/fonts/sintony-v15-latin-regular.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('./assets/fonts/sintony-v15-latin-regular.svg#Sintony') format('svg');
    /* Legacy iOS */
}

/* sintony-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sintony';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/sintony-v15-latin-700.eot');
    /* IE9 Compat Modes */
    src: url('./assets/fonts/sintony-v15-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/fonts/sintony-v15-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('./assets/fonts/sintony-v15-latin-700.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('./assets/fonts/sintony-v15-latin-700.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('./assets/fonts/sintony-v15-latin-700.svg#Sintony') format('svg');
    /* Legacy iOS */
}

/* acme-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/acme-v25-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('./assets/fonts/acme-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/fonts/acme-v25-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('./assets/fonts/acme-v25-latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url('./assets/fonts/acme-v25-latin-regular.ttf') format('truetype'),
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
        url('./assets/fonts/acme-v25-latin-regular.svg#Acme') format('svg');
    /* Legacy iOS */
}

:root {
    scroll-behavior: smooth;

    /* VARIABLES */
    --color-primary: #d3d3d3;
    --color-secondary: #303030;
    --color-tertiary: #5f514d;
    --color-quaternary: #989898;
    --color-quintial: rgb(114, 137, 152);
    --color-quaternary-trans: rgba(227, 163, 45, 0.653);
    --color-fonts: #f0f0f0;

    --margin-vertical: 40px;
    --margin-horizontal: 100px;
    --margin-books: 20px;

    --border-radius: 1vmin;

    --header-height: 100px;

    font-size: 14px;

}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(63, 35, 26, 0.445);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-quaternary);
}

/* GENERAL */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--color-primary);
    color: var(--color-fonts);
    font-family: "Sintony";
    min-height: 100vh;
}

h1 {
    font-family: 'Acme';
    font-size: 50px;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    color: rgb(68, 141, 190);
}

h1 span {
    font-size: 24px;
}

h2 {
    margin: 0;
    font-family: 'Acme';
    color: rgb(30, 41, 58);
}

h3 {
    margin: 0px;
    font-family: 'Acme';
    color: rgb(30, 41, 58);
}

.book-title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    text-align: center;
    padding: 0 8px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(168, 168, 168);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-quaternary);
}

.app-max-width {
    display: flex;
    width: 100%;
    margin: 0 40px;
    max-width: 1440px;
}

.hidden {
    display: none;
}

.show-mobile {
    display: none;
}
.flex-shown {
    display: flex;
}

/* HEADER */
header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    max-height: var(--header-height);
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-quintial);
    z-index: 99;
}

.header-container {
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-left:hover {
    cursor: pointer;
}

.main-logo {
    height: 70px;
}

.nav-bar {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.favorite-btn:hover {
    cursor: pointer;
}
/* LOGIN */
.welcome-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);
    z-index: 3;
    text-align: center;
}

.welcome-title {
    color: var(--color-quintial);
}

.highlighted {
    font-weight: bolder;
    color: red;
}

.login-input {
    resize: none;
    height: 20px;
}

.login-button {
    margin-top: 30px;
}

.logout-button {
    font-weight: bold;
}

.logout-button:hover {
    cursor: pointer;
}
/* MAIN */
main {
    display: none;
    flex: 1;
    justify-content: center;
    margin-top: var(--header-height);
}

.main-container {
    display: flex;
    align-items: center;
}

/* BOOKS */
.books-container {
    display: flex;
    gap: var(--margin-books);
    margin: var(--margin-vertical) 0;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
    min-width: 265px;
    max-width: 23.3%;
    background-color: var(--color-quaternary);
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.book-card:hover {
    filter: drop-shadow(5px 5px 6px var(--color-secondary)) saturate(1.5);
    border: 1px solid var(--color-quintial);
}

.h-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-quintial);
    opacity: 0.3;
    margin: 14px 0;
}

.book-img {
    height: 200px;
    object-fit: cover;
    align-self: center;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: all 0.4s ease-in-out;
}

.book-img:hover {
    transform: scale(1.02);
}

.book-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 8px;
}

.price {
    color: rgb(155, 23, 23);
}

.likes {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.count-symbol {
    width: 18px;
    height: 18px;
    filter: invert(10%) sepia(45%) saturate(6620%) hue-rotate(339deg) brightness(99%) contrast(101%);
    transition: all 0.3s ease;
}

.count-symbol:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.author-section,
h3 {
    padding: 0 8px;
}

.author-section,
.comment-section {
    display: flex;
    margin-top: 10px;
    border-spacing: 0;
}

.comment-section {
    height: 120px;
    overflow-y: auto;
    background-color: var(--color-quintial);
    padding: 5px;
}

.comment-input,
.comment-btn {
    color: rgb(118, 118, 118);
    background-color: var(--color-secondary);
    border: 1px solid var(--color-quaternary);
    padding: 5px;
}

.comment-btn {
    font-family: 'Acme';
    transition: all 0.3s ease;
}

.comment-btn:hover {
    background-color: rgb(68, 141, 190);
    color: var(--color-secondary);
}

tr {
    display: flex;
    padding-bottom: 4px;
}

td {
    display: flex;
}

td:first-child {
    flex: 1;
    min-width: 120px;
}

td:last-child {
    flex: 2;
}

.postComment {
    display: flex;
}

.postComment input {
    flex: 3;
}

.postComment button {
    flex: 1;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: var(--color-secondary);
}

.footer-right p {
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-media-icons {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.social-media-icons img {
    height: 30px;
    transition: all 0.3s ease;
}

.social-media-icons img:hover {
    transform: scale(1.07);
}

/* MEDIA QUERIES */
.hide-mobile {
    display: block;
}

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }

    header {
        height: 80px;
    }

    .main-logo {
        height: 50px;
    }

    .nav-bar {
        align-items: center;
        padding-bottom: 0px;
    }

}

@media screen and (max-width: 500px) {

    :root {
        --header-height: 60px;
        --margin-vertical: 24px;
        --margin-books: 10px;
        font-size: 12px;
    }  
    h2 {
        font-size: 18px;
    }
    .book-card {
        padding: 10px 0px;
        margin: 10px 0;
    }
    .book-img {
        height: 160px;
    }
    .h-line {
        margin: 8px 0;
    }
}


@media screen and (max-width: 400px) {
    .overlay-content img {
        max-height: 240px;
    }

    .slider li {
        height: 240px;
    }
}